<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand">Navbar</a>
    <form class="d-flex justify-content-end" role="search">
      <button class="btn btn-outline-success me-2" type="submit">Price List</button>
      <button class="btn btn-outline-success" type="submit">Menu</button>
    </form>
  </div>
</nav>

<h1 class="display-3 my-7 text-center">Metal fences and<br />security gates</h1>

<div class="d-flex justify-content-center">
  <img src="https://placehold.co/900x500" />
</div>

<div class="text-center text-muted fs-5 fw-bold my-7 w-50 mx-auto">
  <span class="text-dark">Lorem ipsum dolor</span> sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
</div>


{{outlet}}