<div class="d-flex align-items-center justify-content-center vh-100 w-100">
  
  <LinkTo @route="index" class="btn btn-{{@color}} mx-2">Home</LinkTo>
  
  <LinkTo @route="contact" class="btn btn-{{@color}} mx-2">Contact</LinkTo>

</div>